body {
  margin: 0;
}
main {
  background: linear-gradient(
    0deg,
    rgb(232, 135, 138) 0%,
    rgb(139, 102, 241) 100%
  );
  height: 700px;
  margin: 0;
}
h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  margin-top: 30px;
  color: rgba(60, 60, 60, 0.796);
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #d7819c;
}
p {
  padding-top: 0px;
  font-family: "Quicksand", sans-serif;
  margin-top: 0px;
}
input {
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
footer {
  border-top: 1px solid rgba(211, 211, 211, 0.528);
  padding-top: 20px;
  text-align: center;
}
input.city,
::placeholder {
  color: rgba(255, 255, 255, 0.764);
  background: linear-gradient(
    360deg,
    rgb(164, 111, 214) 0%,
    rgb(139, 102, 241) 100%
  );
}
.current-weather {
  justify-content: space-between;
  margin-top: 5px;
  color: rgb(60, 60, 60);
  display: flex;
}
.temp-unit {
  margin-top: 50px;
}
#current-temp {
  font-size: 60px;
  margin-top: 50px;
  line-height: 1;
}
.city {
  width: 86%;
}
.search-button {
  background-color: #9667cb32;
  box-shadow: 2px 5px 7px rgba(114, 114, 114, 0.41);
}
.current-condition-data {
  color: #ad71c2;
  font-weight: bold;
}
#logo {
  height: 60px;
}
.weather-icon {
  width: 100px;
  height: 100px;
  margin-top: 35px;
}
#application {
  background-color: rgba(255, 255, 255, 0.834);
  border: none;
  border-radius: 30px;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 10px 30px 50px rgba(41, 34, 56, 0.41);
  font-family: "Quicksand", sans-serif;
}
.current-temp-container {
  display: flex;
}
