main {
  background: linear-gradient(
    0deg,
    rgb(232, 135, 138) 0%,
    rgb(139, 102, 241) 100%
  );
  height: 700px;
  margin: 0;
}
#logo {
  height: 100px;
}
#application {
  background-color: white;
  border: none;
  border-radius: 30px;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
}
